/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-condensed-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

/* Main */

/* Pour le haut de la calculette */
main div:nth-of-type(1) {
    display: grid;
    margin: 0 auto;
    width: 1000px;
    border: 3px solid black;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 50px;
    column-gap: 50px;
    row-gap: 100px;
    background-color: #404B55;
    color: #BCCFD8;
    font-family: "Barlow Condensed";
    font-size: x-large;
    text-align: center;
    padding: 0.25rem;
}

.border-top-radius {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* Pour les chiffres de 1 à 8 */
main div:nth-of-type(2) {
    display: grid;
    margin: 0 auto;
    width: 1000px;
    border: 3px solid black;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: 50px;
    column-gap: 50px;
    row-gap: 100px;
    background-color: #BCCFD8;
    color: #0e1217;
    font-family: "Barlow Condensed";
    font-size: x-large;
    text-align: center;
    padding: 0.25rem;
}

button {
    font-family: "Barlow Condensed";
    font-size: x-large;
    border-radius: 8px;
    text-align: center;
}

/* Pour placer la première ligne des boutons de la calculette */
main div:nth-of-type(3) div:nth-of-type(1) {
    display: grid;
    justify-content: center;
    width: 1000px;
    border: 3px solid black;
    grid-template-columns: repeat(5,180px);
    grid-template-rows: 40px;
    column-gap: 10px;
    row-gap: 10px;
    background-color: #4a5e6d;
    font-family: "Barlow Condensed";
    font-size: x-large;
    text-align: center;
    padding: 0.25rem;
}

/* Pour placer les lignes suivantes des boutons de la calculette */
main div:nth-of-type(3) div:nth-of-type(2) {
    display: grid;
    justify-content: center;
    width: 1000px;
    border: 3px solid black;
    grid-template-columns: repeat(5,180px);
    grid-template-rows: repeat(5, 50px);
    column-gap: 10px;
    row-gap: 10px;
    background-color: #4a5e6d;
    font-family: "Barlow Condensed";
    font-size: x-large;
    text-align: center;
    padding: 0.25rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main div {
    display: grid;
    justify-content: center;
}

.btnPlus {
    height: 110px;
}

/* Pour centrer les divs au centre */
.center {
    align-items: center;
    align-content: center;
}